
<h2>About</h2>

traderWatch is an open source web application (MIT), created with Node.js, that monitors pricing of a single vehicle on AutoTrader. 

It was created for users who are interested in Node.js and seeing the price trends of a vehicle they're interested in. <br><br>

You can download/clone/contribute to the project on <a href="https://github.com/nickjag/traderWatch">GitHub</a>.<br><br><br>